@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46.67 81.82% 97.84%;
    --foreground: 75 7.69% 10.2%;
    --muted: 72 21.74% 86.47%;
    --muted-foreground: 76.36 8.27% 26.08%;
    --primary: 83.48 55.56% 40.59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 80.63 40% 84.31%;
    --secondary-foreground: 84 50% 7.84%;
    --popover: 46.67 81.82% 97.84%;
    --popover-foreground: 75 7.69% 10.2%;
    --input: 75 17.39% 81.96%;
    --accent: 72 21.74% 86.47%;
    --accent-foreground: 76.36 8.27% 26.08%;
    --card: 46.67 81.82% 97.84%;
    --card-foreground: 80 5.66% 10.39%;
    --border: 75 17.39% 81.96%;
    --destructive: 0 75.47% 41.57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 75 5.26% 44.71%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 75 7.69% 10.2%;
    --foreground: 53.33 14.29% 87.65%;
    --muted: 76.36 8.27% 26.08%;
    --muted-foreground: 72 12% 75.49%;
    --primary: 84.3 59.61% 60.2%;
    --primary-foreground: 83.33 100% 10.59%;
    --secondary: 82.5 19.35% 24.31%;
    --secondary-foreground: 80.63 40% 84.31%;
    --popover: 75 7.69% 10.2%;
    --popover-foreground: 53.33 14.29% 87.65%;
    --input: 72 5.75% 17.06%;
    --accent: 76.36 8.27% 26.08%;
    --accent-foreground: 72 12% 75.49%;
    --card: 75 7.69% 10.2%;
    --card-foreground: 53.33 14.29% 87.65%;
    --border: 72 5.75% 17.06%;
    --destructive: 6.43 100% 83.53%;
    --destructive-foreground: 357.14 100% 20.59%;
    --ring: 73.85 5.63% 54.71%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
}

@layer components {
  .text-link {
    @apply text-primary hover:underline;
  }
  .text-lead {
    @apply text-xl text-muted-foreground;
  }
  .text-large {
    @apply text-lg font-semibold;
  }
  .text-regular {
    @apply text-base leading-7;
  }
  .text-small {
    @apply text-sm font-medium leading-5;
  }
  .text-alt {
    @apply text-xs text-muted-foreground;
  }
}

.rdp-vhidden {
  @apply hidden;
}
